@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  @apply bg-white dark:bg-black dark:text-white;
  background-image: radial-gradient(rgb(10, 255, 0, 0.02) 2px, transparent 2px);
  background-size: 48px 48px;
}

.prose * {
}

.prose > p {
  @apply mt-3 md:mt-6 md:text-[18px];
  line-height: 162%;
}

.prose > p > a {
  @apply text-cta-default underline underline-offset-[3px] decoration-cta-default/20 transition ease-out hover:decoration-cta-default/60 active:transition-none active:decoration-cta-default/100
}

h2 {
  @apply mt-8 md:mt-12 text-3xl
}

h3 {
  @apply mt-6 md:mt-8 md:text-[22px] font-[700]
}

.prose h3 + p {
  @apply mt-2
}
